/*Max 1344px*/
@media (max-width: 84em) {
  html {
    /*9PX*/
    font-size: 56.25%;
  }

  .hero {
    max-width: 120rem;
  }

  .marcas,
  .aboutUs,
  .servicios {
    max-width: 110rem;
  }

  .tecnicos {
    max-width: 70rem;
  }

  .aboutUs-description {
    font-size: 1.6rem;
  }
}

/*Max 1250px*/
@media (max-width: 78em) {
  html {
    font-size: 53.125%;
  }

  .hero,
  .marcas,
  .aboutUs,
  .servicios {
    max-width: 110rem;
  }

  .aboutUs-description {
    font-size: 1.6rem;
  }

  .servicio-heading {
    font-size: 1.8rem;
  }

  .servicio-description {
    font-size: 1.4rem;
  }
}

/*Max 980px*/
@media (max-width: 61em) {
  html {
    font-size: 50%;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
  }

  .mobile-nav-open .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-nav-open .open-menu-icon {
    display: none;
  }

  .mobile-nav-open .close-menu-icon {
    display: block;
  }

  .nav-options {
    flex-direction: column;
    font-size: 3rem;
  }

  .mobile-nav-btn {
    display: block;
    z-index: 1;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .hero-img {
    width: 60%;
    justify-self: center;
  }

  .hero-text {
    text-align: center;
  }

  .marcas {
    max-width: 80rem;
  }

  .aboutUs {
    max-width: 100rem;
  }

  .aboutUs-content {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }

  .aboutUs-img {
    width: 60%;
    justify-self: center;
  }

  .aboutUs-description {
    width: 60%;
    text-align: center;
    justify-self: center;
  }

  .servicios {
    max-width: 60rem;
  }

  .servicios-disponibles {
    grid-template-columns: 1fr;
  }

  .servicio {
    justify-self: center;
  }

  .contact-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .contact-map {
    grid-row: 1;
  }
}
