/*General*/
/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #495057;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
}

/*H3*/
h3 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #343a40;
}

/*Header*/

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  border-top: 1rem solid #d8f5a2;
}

.logo {
  max-width: 20rem;
}

.contact-btn:link,
.contact-btn:visited {
  display: inline-block;
  text-decoration: none;
  background-color: #94d82d;
  color: #495057;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  text-transform: uppercase;
}

.contact-btn:hover,
.contact-btn:active {
  background-color: #82c91e;
}

/*Mobile nav*/

.mobile-nav-btn {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon {
  width: 4.8rem;
  height: 4.8rem;
  color: #333;
}

.close-menu-icon {
  display: none;
}

/*Nav*/

.nav-options {
  font-size: 1.4rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;
}

.nav-option:link,
.nav-option:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #495057;
  font-weight: 600;
}

.nav-option:hover,
.nav-option:active {
  color: #212529;
}

/*Main*/

/*Hero*/

.hero-section {
  background-color: #f4fce3;
  padding: 9.6rem 0;
  margin-bottom: 9.6rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}

.primary-heading {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.05;
  color: #343a40;
  letter-spacing: -0.5px;
  margin-bottom: 3rem;
}

.hero-description {
  font-size: 2rem;
  color: #495057;
  line-height: 1.6;
  margin-bottom: 6.4rem;
}

.hero-img {
  width: 100%;
  border-radius: 0.5rem;
}

/*Marcas*/

.marcas {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  margin-bottom: 9rem;
}

.marcas-logos {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

/*About us*/

.aboutUs-section {
  margin-bottom: 12.8rem;
}

.aboutUs {
  max-width: 120rem;
  margin: 0 auto;
}

.aboutUs-heading {
  text-align: center;
  grid-column: 1 / -1;
}

.aboutUs-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  background-color: #fff9db;
  padding: 3.2rem 6.4rem;
  border-radius: 1rem;
}

.aboutUs-description {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1.5px;
  order: 1;
  align-self: self-start;
}

.aboutUs-description span {
  font-weight: 600;
}

.aboutUs-img {
  width: 100%;
  border-radius: 0.5rem;
}

/*Servicios*/

.servicios-section {
  margin-bottom: 12.8rem;
}

.servicios {
  max-width: 120rem;
  margin: 0 auto;
}

.servicios-heading {
  text-align: center;
  margin-bottom: 4.8rem;
}

.servicios-disponibles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 9.6rem;
}

.servicio-icon {
  height: 24px;
  width: 24px;
  stroke: #66a80f;
  margin-bottom: 1.6rem;
}

.servicio-heading {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.servicio-description {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 1.2px;
}

/*Contacts-section*/

.tecnico-section {
  margin-bottom: 12.8rem;
}

.tecnicos {
  max-width: 80rem;
  margin: 0 auto;
}

.tecnicos-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3.2rem;
}

.tecnicos-heading {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 3.2rem;
}

.tecnico {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.5);
  border-radius: 1.2rem;
}

.tech-img {
  width: 100%;
  border-radius: 1.2rem;
}

.tecnico-info {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.tech-name {
  font-size: 1.6rem;
  text-align: center;
}

.tech-media {
  list-style: none;
}

.tech-media li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.tech-media li:first-child {
  margin-bottom: 1.6rem;
}

.tech-icon {
  height: 24px;
  width: 24px;
  stroke: #66a80f;
}

.tech-attribute {
  font-size: 1.2rem;
  font-weight: 400;
}

/*Footer*/

/*Contact-section*/
.contact {
  margin: 0 auto;
  background-color: #f4fce3;
}

.contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.4rem;
  padding: 4.8rem;
}

.contact-description {
  font-size: 1.8rem;
}

.contact-media li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.contact-icon {
  height: 24px;
  width: 24px;
  stroke: #66a80f;
}

.contact-address,
.contact-phone,
.contact-email {
  font-size: 1.4rem;
}

.contact-address span,
.contact-phone span,
.contact-email span {
  font-weight: 600;
}

.map {
  width: 100%;
}

.copyrigth {
  grid-column: 1 / -1;
  background-color: #d8f5a2;
}

.copyrigth-description {
  font-size: 1.2rem;
  text-align: center;
  padding: 0.4rem;
}
