/*General*/
/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #495057;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
}

/*Nav*/

nav {
  background-color: #fff;
  font-size: 1.2rem;

  width: 100%;
  height: 20rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;

  position: relative;

  border-top: 1rem solid #d8f5a2;
}

.logo {
  max-width: 20rem;
  position: absolute;
  left: 2%;
}

.nav-btn:link,
.nav-btn:visited {
  display: inline-block;
  position: absolute;
  right: 2%;
}

.contact-btn:link,
.contact-btn:visited {
  text-decoration: none;
  background-color: #94d82d;
  color: #343a40;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  text-transform: uppercase;
}

.contact-btn:hover,
.contact-btn:active {
  background-color: #82c91e;
}

.nav-option:link,
.nav-option:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #868e96;
}

.nav-option:hover,
.nav-option:active {
  color: #343a40;
}

/*Hero*/

.hero-section {
  background-color: #f4fce3;
  padding: 9.6rem 0;
  margin-bottom: 9.6rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}

.primary-heading {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3rem;
  text-wrap: balance;
}

.description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 6.4rem;
}

.hero-btn:link,
.hero-btn:link {
  font-size: 1.2rem;
}

.hero-img {
  width: 100%;
  border-radius: 0.5rem;
}

/*Main*/

/*Marcas*/

.marcas {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 9rem;
}

.marcas-heading {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.marcas-logos {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

/*About us*/

/* .aboutUs-section {
  padding: 9.6rem 0;
} */

.aboutUs {
  max-width: 130rem;
  margin: 0 auto;
}

.aboutUs-heading {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: center;
  grid-column: 1 / -1;
}

.aboutUs-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  margin-bottom: 12.8rem;
  background-color: #fff9db;
  padding: 3.2rem 6.4rem;
  border-radius: 1rem;
}

.aboutUs-description {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1.5px;
  order: 1;
  align-self: self-start;
}

.aboutUs-description span {
  font-weight: 600;
}

.aboutUs-img {
  width: 100%;
  /* padding: 9rem; */
  border-radius: 0.5rem;
}

/*Servicios*/

.servicios {
  max-width: 130rem;
  margin: 0 auto;
}

.servicios-heading {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 4.8rem;
  color: #343a40;
}

.servicios-disponibles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 9.6rem;
}

.servicio-icon {
  height: 24px;
  width: 24px;
  stroke: #66a80f;
  margin-bottom: 1.6rem;
}

.servicio-heading {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.servicio-description {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 1.2px;
}

/*Contacts-section*/
.contactos {
  max-width: 65rem;
  margin: 0 auto;
}

.contactos-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contactos-heading {
  grid-column: 1 / -1;
}
